<h2><%= link_to(post.title, post_path(post)) %></h2>
<div class="entrybody">
  <%=raw post.body_html %>
</div>
<div class="meta">
  <ul>
    <li class="date">Posted on <%= format_post_date(post.published_at) %></li>
    <li class="comments"><%= link_to("Comments", post_path(post, :anchor => 'disqus_thread'), :'data-disqus-identifier' => disqus_identifier(post)) %></li>
    <% unless post.tags.empty? -%>
    <li class="tags">Tagged <%= linked_tag_list(post.tags) %></li>
    <% end -%>
		<li class="comments">
			<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="seangeo" 
			data-url="<%= post_path(post, :only_path => false)%>" data-text="<%= post.title %>">Tweet</a>
			<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
		</li>
  </ul>
</div>